.vscode/
*.exe
Day9/Day9/obj/
Day9/Day9/.vs/
Day9/Day9/bin/Debug/net6.0/Day9.deps.json
Day9/Day9/bin/
Day2/.vs/
Day2/bin/
Day2/obj/
Day10/.vs/
Day10/bin/
Day10/obj/
Day11/.vs/
Day11/bin/
Day11/obj/
Day14/.vs/
Day14/bin/
Day14/obj/
Day12/.vs/
Day12/bin/
Day12/obj/
Day3/.vs/
Day3/obj/
Day15/.vs/
Day15/bin/
Day15/obj/
Day16/.vs/
Day16/obj/
Day16/bin/
Day13/.vs/
Day13/bin/
Day13/obj/
Day18/.vs/
Day18/bin/
Day18/obj/
Day19/.vs/
Day19/bin/
Day19/obj/
Day3/bin/
*.txt
